{% extends 'BlogApp/navBar.html' %}

{% block body %}

<!-- With Styleing -->
<div class="center">
    {% if messages %}
    {% for message in messages %}
    <div id="dialog"
        class="alert alert-dismissible fade show {% if message.tags %}alert-{{ message.tags }}{% endif %} col-xl-12"
        role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    <form action='' method='POST' class="parsley-examples">
        {% csrf_token %}
        <div class="div-center">
            <div class="form-group form-group--float col-md-10">
                <label>Add Category<span class="text-danger"><b> *</b></span></label>
                <!-- value for edit purpose if already exist it will display to the user. -->
                <input required type="text" class="form-control" value="{{new_category.name.value|default:''}}"
                    name="name">
                <i class="form-group__bar"></i>
            </div>

            <div class="form-group text-left m-b-0">
                <div class="row">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-success">Save</button>
                        <a href="{% url 'userhome' id %}" class="btn btn-secondary col-auto">Cancel</a>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>

{% endblock %}